.chat-widget {
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 300px;
  font-family: sans-serif;
  transition: all 0.3s ease;
  z-index: 100;
}

.chat-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  /* padding: 6px 10px; */
  cursor: pointer;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  gap: 10px;
  height: 57px;
  padding-left: 10px;
}

.chat-bar .image {
  /* margin: 5px 10px; */
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-bar-text {
  flex: 1;
  font-weight: bold;
}

.chat-bar svg {
  margin: 0 15px;
}

.chat-panel {
  margin-top: 0px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.2s ease-in;
  border-bottom: none;
  position: relative;
}

.chat-panel span.search {
  position: absolute;
  top: 25px;
  left: 35px;
}

.chat-message {
  background-color: #fff;
  box-shadow: 0 1px 6px #0000001f;
  width: calc(100% - 0px);
  padding: 25px 20px 15px 100px;
  border: none;
  color: rgb(0 0 0/.9);
  border-radius: 2.5rem;
  box-sizing: border-box;
  transition: box-shadow 84ms cubic-bezier(.34, 0, .21, 1);
  outline: none;
  line-height: 10px;
}

.chat-search {
  /* width: 95%;
  margin: 5px auto;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc; */

  background-color: #edf3f8;
  box-shadow: none;
  width: calc(100% - 40px);
  margin: .8rem 1.2rem;
  padding: 10px 10px 10px 50px;
  border: none;
  color: rgb(0 0 0/.9);
  border-radius: 0.4rem;
  box-sizing: border-box;
  transition: box-shadow 84ms cubic-bezier(.34, 0, .21, 1);
}

.chat-users-list {
  max-height: 350px;
  overflow-y: auto;
  padding: 10px;
}

.chat-user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 0 0 0;
  cursor: pointer;
  transition: all .3s ease;
  padding: 10px;
  border-bottom: 1px solid #e4e8ee;
}

.unread-badge {
  background: #1DAA61;
  color: #fff;
  border-radius: 15px;
  font-size: 12px;
  margin-left: auto;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unread-badge span {
  margin: 8px 5px;
}

.unread-badge-total {
  background-color: #1DAA61;
  color: white;
  border-radius: 15px;
  font-size: 12px;
  margin-left: 6px;
  min-width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.unread-badge-total span {
  margin: 8px 5px;
}

.chat-user:last-child {
  border-bottom: none;
}

.chat-user:hover {
  background: rgba(0, 0, 0, 0.08);
  transition: all .3s ease;
}

.chat-user .image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-header .image {
  margin: 5px 5px 4px 5px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: auto;
}

.status.online {
  background: #4caf50;
}

.status.offline {
  background: #ccc;
}

.chat-windows {
  position: fixed;
  bottom: 0px;
  right: 330px;
  display: flex;
  gap: 10px;
  align-items: end;
}

.chat-window {
  /* width: 300px; */
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease;
}

.chat-window.closed .chat-container {
  width: 300px;
  max-height: 0;
  overflow-y: hidden;
  transition: width 0.1s ease, max-height 0.1s ease;
  position: relative;
}

.chat-window.open .chat-container {
  width: 500px;
  max-height: 500px;
  transition: width 0.1s ease, max-height 0.1s ease;
  position: relative;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 8px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  user-select: none;
}

.chat-header img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.chat-header button {
  /* margin-left: auto; */
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  padding: 1rem 0.5rem .8rem;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  min-height: 100px;
  max-height: 300px;
  background-color: #F5F1EB;
  /* position: relative; */
}

.chat-container .background {
  background-image: url('../../../public/images/fundo-chat.png');
  background-repeat: repeat;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  inset-inline-start: 0;
  position: absolute;
  z-index: 0;
}

.container-chat {
  position: relative;
}

.chat-footer input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.chat-footer {
  padding: 8px;
  /* border-top: 1px solid #ddd; */
  display: flex;
  flex-direction: column;
  background-color: #F5F1EB;
}

.chat-footer textarea.chat-message {
  resize: none;
  margin-bottom: 5px;
}

.chat-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-options .options-left {
  display: flex;
  gap: 5px;
}

.chat-options button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-options .send-button {
  font-size: 18px;
  color: #007bff;
}

.chat-options button:hover {
  color: #000;
}

.chat-message-row {
  display: flex;
  margin: 5px 0;
}

.chat-message-row.own {
  justify-content: flex-end;
}

.chat-message-row.other {
  justify-content: flex-start;
}

.chat-message-bubble {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 15px;
  line-height: 1.4;
  word-wrap: break-word;
}

.chat-message-row.own .chat-message-bubble {
  background: #D9FDD3;
  color: #333;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
}

.chat-message-row.other .chat-message-bubble {
  background: #fff;
  color: #333;
  border-bottom-left-radius: 5px;
  box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
}

.typing-label {
  font-size: 12px;
  color: #888;
  margin-left: 0px;
}

.chat-message-bubble.typing {
  font-style: italic;
  color: #555;
  background: #f0f0f0;
}

/* Efeito pulso */
.image.typing-effect {
  position: relative;
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 rgba(30, 30, 47, 0.6);
  border: 0px solid #1e1e2f;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 30, 47, 0.6);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(30, 30, 47, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 30, 47, 0);
  }
}

.message-status {
  margin-left: 5px;
  font-size: 12px;
  color: #929292;
}

.message-status.lida {
  color: #007BFC;
}

.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.chat-widget {
  /* position: relative; */
  z-index: 1000;
}

.chat-panel,
.chat-windows {
  /* position: relative; */
  z-index: 1001;
}

.options-file {
  position: absolute;
  left: 10px;
}

.options-emoji {
  position: absolute;
  left: 53px;
}

.options-send {
  background: #1DAA61 !important;
  position: absolute;
  right: 10px;
}

.options-audio {
  background: transparent !important;
  position: absolute;
  right: 10px;
}

.options-audio:hover {
  background: #1DAA61 !important;
  transition: all .3s ease;
  color: #fff !important;
}

.options-footer {
  bottom: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
  cursor: pointer;
  background: transparent;
  transition: all .3s ease;
}

.options-footer:hover {
  background: #f5f5f5;
  transition: all .3s ease;
}

.chat-body {
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

.chat-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.chat-users-list {
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

.chat-users-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}