.chat-widget {
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 300px;
  font-family: sans-serif;
  transition: all 0.3s ease;
  z-index: 100;
}

.chat-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  /* padding: 6px 10px; */
  cursor: pointer;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  gap: 10px;
  height: 57px;
  padding-left: 10px;
}

.chat-bar.ajuste{
  margin-bottom: -1px;
}

.chat-bar .image {
  /* margin: 5px 10px; */
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-bar-text {
  flex: 1;
  font-weight: bold;
}

.chat-bar svg {
  margin: 0 15px;
}

.chat-panel {
  margin-top: 0px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.2s ease-in;
  border-bottom: none;
  position: relative;
}

.chat-panel span.search {
  position: absolute;
  top: 25px;
  left: 35px;
}

.chat-message {
  background-color: #fff;
  box-shadow: 0 1px 6px #0000001f;
  width: calc(100% - 0px);
  padding: 18px 20px 0px 100px;
  border: none;
  color: rgb(0 0 0/.9);
  border-radius: 2.5rem;
  box-sizing: border-box;
  transition: box-shadow 84ms cubic-bezier(.34, 0, .21, 1);
  outline: none;
  line-height: 10px;
}

.chat-message-preview {
  background-color: #e3e3e3;
  /* box-shadow: 0 1px 6px #0000001f; */
  width: calc(100% - 125px);
  padding: 10px 20px 0px 20px;
  border: none;
  color: rgb(0 0 0/.9);
  border-radius: 10px;
  box-sizing: border-box;
  transition: box-shadow 84ms cubic-bezier(.34, 0, .21, 1);
  outline: none;
  line-height: 10px;
}

.chat-search {
  /* width: 95%;
  margin: 5px auto;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc; */

  background-color: rgba(194, 189, 184, .15);
  box-shadow: none;
  width: calc(100% - 40px);
  margin: .8rem 1.2rem;
  padding: 10px 10px 10px 50px;
  border: none;
  color: rgb(0 0 0/.9);
  border-end-end-radius: 100px;
  border-end-start-radius: 100px;
  border-start-start-radius: 100px;
  border-start-end-radius: 100px;
  box-sizing: border-box;
  transition: box-shadow 84ms cubic-bezier(.34, 0, .21, 1);
}

.chat-search:focus {
  background-color: #fff;
  transition: box-shadow 84ms cubic-bezier(.34, 0, .21, 1);
  outline: none;
  box-shadow: inset 0 0 0 2px #1DAA61;
;
}

.chat-users-list {
  max-height: 450px;
  height: 450px;
  padding: 0px;
  overflow-y: auto;
  /* overflow: visible; */
}

.chat-user {
  position: relative;
  /* display: flex;
  align-items: center;
  gap: 10px; */
  margin: 0px 0 0 0;
  cursor: pointer;
  transition: all .3s ease;
  padding: 10px;
  border-bottom: 1px solid #e4e8ee;
}

.unread-badge {
  background: #1DAA61;
  color: #fff;
  border-radius: 15px;
  font-size: 12px;
  margin-left: auto;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unread-badge span {
  margin: 8px 5px;
}

.unread-badge-total {
  background-color: #1DAA61;
  color: white;
  border-radius: 15px;
  font-size: 12px;
  margin-left: 6px;
  min-width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.unread-badge-total span {
  margin: 8px 5px;
}

.chat-user:last-child {
  border-bottom: none;
}

.chat-user:hover,
.chat-user.active {
  background: rgba(0, 0, 0, 0.08);
  transition: all .3s ease;
}

.chat-user .box-user-list .image,
.archived-users .chat-user .image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.chat-header .image {
  margin: 5px 5px 4px 5px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 8px;
  left: 50px;
  transition: all .3s ease;
  z-index: 1;
}

.status.chat {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 8px;
  left: 50px;
  transition: all .3s ease;
  z-index: 1;
}

.chat-user:hover .box-user-list .status:not(.online) {
  border: 1px solid #fff;
  transition: all .3s ease;
  background: #9c9a9a;
}

.status.online {
  background: #4caf50;
  transition: all .3s ease;
}

.status.offline {
  background: #ccc;
  transition: all .3s ease;
}

.chat-windows {
  position: fixed;
  bottom: 0px;
  right: 330px;
  display: flex;
  gap: 10px;
  align-items: end;
}

.chat-window {
  /* width: 300px; */
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease;
}

.chat-window.closed .chat-container {
  width: 250px;
  max-height: 0;
  overflow-y: hidden;
  transition: width 0.1s ease, max-height 0.1s ease;
  position: relative;
}

.chat-window.open .chat-container {
  width: 450px;
  max-height: 500px;
  transition: width 0.1s ease, max-height 0.1s ease;
  position: relative;
  background-color: #F5F1EB;
}

.chat-window.open .chat-container.max {
  width: 600px;
  max-height: 700px;
  transition: width 0.1s ease, max-height 0.1s ease;
}

.chat-window.open .chat-container.max .chat-body {
  max-height: 500px;
  min-height: 500px;
  transition: width 0.1s ease, max-height 0.1s ease;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 8px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  user-select: none;
  position: relative;
}

.chat-header img:not(.image-modal-img) {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.chat-header button:not(.image-modal-close, .confirm-btn, .cancel-btn) {
  /* margin-left: auto; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  padding: 1rem 0.5rem .8rem;
  transition: all .3s ease;
}

.chat-header button:not(.confirm-btn, .cancel-btn):hover {
  background: #dcd9d9 !important;
  transition: all .3s ease;
}

/* 
.options-footer.options-file {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    overflow: hidden;
} */

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  min-height: 300px;
  max-height: 300px;
  /* background-color: #F5F1EB; */
  position: relative;
}

.chat-container .background {
  background-image: url('../../../images/fundo-chat.png');
  background-repeat: repeat;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  inset-inline-start: 0;
  position: absolute;
  z-index: 0;
}

.container-chat {
  position: relative;
}

.chat-footer input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.chat-footer {
  padding: 8px;
  /* border-top: 1px solid #ddd; */
  display: flex;
  flex-direction: column;
  background-color: #F5F1EB;
}

.chat-footer textarea.chat-message {
  resize: none;
  margin-bottom: 5px;
  line-height: 20px;
}

.div-preview textarea.chat-message-preview {
  resize: none;
  margin-bottom: 5px;
  bottom: 8px;
  position: absolute;
  line-height: 20px;
}

.chat-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-options .options-left {
  display: flex;
  gap: 5px;
}

.chat-options button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-options .send-button {
  font-size: 18px;
  color: #007bff;
}

.chat-options button:hover {
  color: #000;
}

.chat-message-row {
  display: flex;
  margin: 20px 0;
}

.chat-message-row.own {
  justify-content: flex-end;
}

.chat-message-row.other {
  justify-content: flex-start;
}

.chat-message-bubble {
  max-width: 70%;
  padding: 8px 20px 8px 12px;
  border-radius: 15px;
  line-height: 1.4;
  word-wrap: break-word;
  position: relative;
}

.chat-message-bubble.img {
  padding: 5px;
  line-height: 0;
}

.chat-message-bubble img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px 12px 5px 12px;
}

.chat-message-bubble .container-img-sender {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12px 12px 8px 12px;
  overflow: hidden;
}

.chat-message-bubble div.degradee {
  height: 28px;
  background-image: linear-gradient(to top, rgba(11, 20, 26, .5), rgba(11, 20, 26, 0));
  position: absolute;
  z-index: 2;
  inset-inline-start: 0;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

.chat-message-row.own .chat-message-bubble {
  background: #D9FDD3;
  color: #333;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
}

.chat-message-row.other .chat-message-bubble {
  background: #fff;
  color: #333;
  border-bottom-left-radius: 5px;
  box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
}

.typing-label {
  font-size: 12px;
  color: #888;
  margin-left: 0px;
}

.chat-message-bubble.typing {
  font-style: italic;
  color: #555;
  background: #f0f0f0;
}

/* Efeito pulso */
.image.typing-effect {
  position: relative;
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 rgba(30, 30, 47, 0.6);
  border: 0px solid #1e1e2f;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 30, 47, 0.6);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(30, 30, 47, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 30, 47, 0);
  }
}

.chat-message-bubble .message-status {
  margin-left: 5px;
  font-size: 12px;
  color: #929292;
  position: absolute;
  bottom: 0px;
  right: 2px;
  z-index: 0;
}

.message-status.lida {
  color: #007BFC;
}

.chat-message-bubble.img .message-status {
  bottom: 8px;
  right: 8px;
}

.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.chat-widget {
  /* position: relative; */
  z-index: 1000;
}

.chat-panel,
.chat-windows {
  /* position: relative; */
  z-index: 1001;
}

.options-file {
  position: absolute;
  left: 10px;
}

.options-emoji {
  position: absolute;
  left: 53px;
}

.options-send {
  background: #1DAA61 !important;
  position: absolute;
  right: 10px;
}

.options-footer-emoji-preview {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.options-footer-emoji-preview .options-emoji {
  left: inherit;
  right: 20px;
}

.options-footer-emoji-preview .emoji-dropdown.open {
  left: inherit;
  right: 20px;
  transform-origin: bottom right;
}

.options-footer-emoji-preview .emoji-dropdown.closed {
  left: inherit;
  right: 20px;
  transform-origin: bottom right;
}

.options-audio {
  background: transparent !important;
  position: absolute;
  right: 10px;
}

.options-audio:hover {
  background: #1DAA61 !important;
  transition: all .3s ease;
  color: #fff !important;
}

.options-footer {
  bottom: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
  cursor: pointer;
  background: transparent;
  transition: all .3s ease;
}

.options-footer:hover {
  background: #f5f5f5 !important;
  transition: all .3s ease;
}

.chat-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.chat-body::-webkit-scrollbar-button {
  background-color: none !important;
  width: 5px;
  height: 5px;
}

.chat-body::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #BFBFBF;
  -webkit-border-radius: 4px;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.chat-body::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #808080 !important;
}

.chat-users-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.chat-users-list::-webkit-scrollbar-button {
  background-color: none !important;
  width: 5px;
  height: 5px;
}

.chat-users-list::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #BFBFBF;
  -webkit-border-radius: 4px;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.chat-users-list::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #808080 !important;
}

.chat-message-row.preview {
  opacity: 0.8;
}

.preview-bubble {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #f1f1f1;
  color: #333;
}

.preview-actions {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}

.preview-actions button {
  background: #e3e3e3 !important;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.preview-actions button:hover,
.preview-actions span:hover {
  background: #afadad !important;
  transition: all .3s ease;
}

.preview-actions span svg {
  transition: all .3s ease;
}

.preview-actions span:hover svg {
  fill: #0A0A0A !important;
  transition: all .3s ease;
}

.preview-actions button:last-child {
  background: #999;
}

.div-preview {
  position: relative;
}

.text-file {
  display: block;
  padding: 10px 0;
  margin: 10px 10px 5px;
  line-height: 20px;
}

.buttonArquivo {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 20px;
  gap: 20px;
  transition: all .3s ease;
  cursor: pointer;
  background-color: rgba(194, 189, 184, .15);
  margin-bottom: -1px;
}

.buttonArquivo:hover {
  transition: all .3s ease;
  background: rgba(0, 0, 0, 0.08);
}

.labelArquivo {
  display: flex;
  align-items: center;
}

.archived-panel {
  position: absolute;
  top: 0;
  right: -320px;
  /* escondido fora da tela */
  width: 300px;
  height: 100%;
  background: #fff;
  /* box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2); */
  transition: right 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.archived-panel.open {
  right: -1px;
  /* aparece */
}

.archived-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 1.1rem;
}

.close-archived {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.close-archived:hover {
  background: #f5f5f5 !important;
  transition: all .3s ease;
}

.archived-users {
  flex: 1;
  overflow-y: auto;
}

.body-usernot-arquivo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-message {
  word-break: break-word;
  box-sizing: border-box;
  display: inherit;
  flex: none;
  max-width: 100% !important;
  padding: 5px 12px 6px;
  font-size: 12.5px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  background-color: #e48080;
  border-radius: 5px;
  box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.block-message.me {
  color: #333;
  background-color: #eed676;
  position: relative;
  bottom: 0px;
  left: 10px;
  right: 10px;
}

.icon-chevron-list {
  height: 35px;
  width: 40px;
  visibility: hidden;
  transition: all .1s ease;
  position: absolute;
  bottom: 0px;
  left: -5px;
  opacity: 0;
  background: #EBEBEB;
  z-index: 1;
  border-top-right-radius: 100%;
  box-shadow: 5px -5px 6px #ebebeb;
  /* padding: 8px 10px; */
}

.chat-user:hover .icon-chevron-list,
.chat-user .icon-chevron-list.active {
  visibility: visible;
  transition: all .1s ease;
  left: 0px;
  opacity: 1;
}

.chat-user .icon-chevron-list .chat-attachment button:not(.confirm-btn, .cancel-btn) {
  padding: inherit;
  background-color: transparent;
  color: inherit;
  border: inherit;
  border-radius: inherit;
  cursor: pointer;
  font-weight: inherit;
  transition: inherit;
  padding: 5px 5px 5px 0;
}

.chat-user .box-user-list {
  position: relative;
  transition: all .1s ease;
  left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.chat-user:hover .box-user-list {
  transition: all .1s ease;
  /* left: 2px; */
}

/* dropdown normal (abre para baixo) */
.chat-user .icon-chevron-list .chat-attachment .attachment-dropdown.open-down {
  top: 30px;
  bottom: auto;
  right: 20px;
  z-index: 99999;
}

/* dropdown invertido (abre para cima) */
.chat-user .icon-chevron-list .chat-attachment .attachment-dropdown.open-up {
  bottom: 30px;
  top: auto;
  right: 20px;
  transform-origin: bottom right;
  z-index: 99999;
}

.camera-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.camera-content {
  background: #111;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.camera-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-cancel,
.btn-capture {
  background: #007bfc;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancel {
  background: #444;
}