.file-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0rem;
}

.file-input-label {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-bottom: 7px;
  transition: all .3s ease;
}

.file-input-label:hover {
  background-color: #0056b3;
  transition: all .3s ease;
}

.file-input-label.error {
  background-color: #de1010;
}

.file-input-label.error:hover {
  background-color: #950a0a;
  transition: all .3s ease;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
